header{
  margin-bottom: 4em;
}
.navbar{
  background-color: var(--color-base-transparente-light);
  border-bottom: 0.25em solid var(--color-base-transparente);
}
.navbar-brand img{
  width: 7em;
}
.nav-link{
  color: var(--color-contraste);
  padding: 0.5em 2em;
  text-transform: uppercase;
  transition: color 0.3s;
}
.nav-link:hover{
  color: var(--color-enfasis);
}
.btn-round{
  border-radius: 50%;
  width: 4em;
  height: 4em;
  text-align: center;
}
#carrito{
  position: fixed;
  margin: 2em 2em;
  bottom: 0;
  right: 0;
}
@media (min-width: 768px){
  #carrito{
    top: 0;
  }
}
.carrito__toggle{
  position: relative;
}
.carrito__contador{
  position: absolute;
  bottom: 0.4em;
  right: 0.6em;
  margin-bottom: 0;
}
